.body-home, .body-login {
    background: url(../img/NewCampus.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.white-fill {
    background: rgba(255, 255, 255, 0.6);
}
#homeNav {
    background: #ff6600 !important; /* Orange background */
    color: #ffffff; /* White text */
}
.welcome-text {
    min-height: 80vh;
    border-radius: 10px;
}
.welcome-text img {
    width: 800px;
}
.welcome-text h4 {
    color: #ff6600; /* Orange text */
    font-size: 51px;
}
.welcome-text p {
    color: #333; /* Darker text for contrast */
    /* background: #ffffff !important; White background */
    padding: 5px;
    border-radius: 4px;
}
#about {
    min-height: 100vh;
}
#contact {
    min-height: 100vh;
}
#contact form {
    max-width: 600px;
    width: 90%;
}
#contact form h3 {
    text-align: center;
}

textarea {
    resize: none;
    width: 100%;
    height: 150px; /* Increased height for a bigger box */
}

.body-login {
    max-width: 500px;
    width: 90%;
    /* padding: 20px; */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 200px;
}

#table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border: #fff;
}
.br-10 {
    border-radius: 10px;
}
.login h3 {
    text-align: center;
    font-size: 50px;
}
.w-450 {
    width: 450px;
}
.bg-orange {
    background: #ff6600 !important; /* Orange background */
    outline: none;
    color: #fff;
}
.n-table {
    max-width: 800px;
}
.cond-col {
    min-width: 220px;
    max-width: 350px;
    max-height: 100px;
    overflow-y: auto;
    white-space: pre-line;
    word-break: break-word;
    display: block;
}